@import "variables";

.profile-header {
  font-size: 1.5rem;
//   display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 7px solid $dark;
  background-color: $lighter;

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  .greeting-col {
    display: flex;
    // align-items: flex-end;
  }
  .logo {
    height: auto;
    width: 230px;
  }

  .link-container {
      display: flex;
      flex-direction: column;
  }
}
.profile-header h1 {
  font-size: 3rem;
}
.account {
  margin: 1% auto;
  width: 80%;


  h2 {
    font-size: 5rem;
  }
  font-size: 1.7rem;
  line-height: 3.5rem;
}
.account-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $dark;
    margin-bottom: 2rem;
}
  .edit-account{
margin-top: 1%;
  }

.myTech-header {
    margin: 0 auto;
    width: 80%;
    padding-top: 2rem;
}

.tech-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;

  .myTech-item {
    margin: 20px;
    box-shadow: 7px 5px 18px #333;

    .button-box {
        display: flex;
        padding-left: 1rem;
        justify-content: space-around;
        padding: 1rem;

        .blue {
          background-color: $lighter !important;
      }

        .red {
            background-color: $primary !important;
        }
    }
  }
}

nav {
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid blue;
  padding-bottom: rem;
}
nav a {
  padding: 5px;
}

.nav-container {
  margin: 0 auto;
  width: 80%;
}

.items {
  margin-top: 10px;
  margin-left: 20px;
  width: 80%;
  margin: 0 auto;

  .item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;

    .item-card {
      margin: 20px;
      box-shadow: 7px 5px 18px #333;

      .blue {
          background-color: $lighter !important;
      }
    }
  }
}

.add-button-mytech {
  font-size: 2rem;
}
.form-card {
  width: 50%;
  margin: 1% auto;
}
.float-right{
    float:right;
    margin: 0px 4%;
   .login{
       margin-right:3%;
       padding-bottom: 0.4rem;
   }
}

.item-page {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}
