@import "variables";

.profile-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 5px solid $dark;
  background-color: $lighter;

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  .greeting-col {
    display: flex;
    align-items: flex-end;
  }
  .logo {
    height: 180px;
    width: 180px;
  }
}
.profile-header h1 {
  font-size: 3rem;
}
.account {
  h2 {
    font-size: 5rem;
  }
  margin: 20px;
  font-size: 2.5rem;
  line-height: 4rem;
  border: 1px solid black;
}
nav {
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid blue;
}
nav a {
  padding: 5px;
}

.items {
  margin-top: 10px;
  margin-left: 20px;
  width: 80%;
  border: 1px solid orange;
  width: 80%;
  margin: 0 auto;

  .item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $light;
    justify-content: space-between;

    .item-card {
      margin: 20px;
    }
  }
}

.add-button-mytech {
  font-size: 2rem;
}
.form-card {
  width: 50%;
  margin: 1% auto;
}
