.profile-header {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid black;
}
.profile-header h1 {
  font-size: 3rem;
}
nav {
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid blue;
}
nav a {
  padding: 5px;
}
